{{!-- main layout --}}

<nav>
  <div class="title">
    mdnotes
  </div>

  <div
    class="avatar"
    tabindex='0'
    style="background-image: url(https://www.gravatar.com/avatar/36d5414d873a0ddd6b1536368159def9?s=80&d=identicon)" {{!-- TODO: un-hardcode --}}
  >
  </div>

</nav>

<div class="spacer"></div>

{{outlet}}
