{{head-layout}}

<nav>
  {{#link-to "notes" class="unstyled-link"}}
    {{!-- TODO: accomodate for note model autosave --}}
    <div class="title">
      jotpad
    </div>
  {{/link-to}}

  {{#if session.isAuthenticated}}
    <button {{action "invalidateSession"}} class="unstyled-btn" aria-label="Menu">
      <div
        class="avatar navbar-btn"
        style={{safeCssBg currentUser.user.gravatar}}
      ></div>
    </button>

    {{#if menu.open}}
      {{#click-outside action=(action "closeMenu")}}
        Your HTML...
      {{/click-outside}}
    {{/if}}

  {{/if}}

</nav>

<div class="spacer"></div>

{{focusing-outlet}}
