
// global vars

$page-bg: #faf8f6;

$sans: 'Ubuntu', sans-serif;
$serif: 'Georgia', serif;
$monospace: monospace;

$paper-gutter: 50px;

$container-max-width: 700px;

$navbar-height: 50px;

// Global styles

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: $sans;
  color: #111;
  background: $page-bg;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
}

time, abbr {
  &[title] {
    text-decoration: underline;
    text-decoration-style: dotted;
  }
}

.noclicks {
  pointer-events: none;
  user-select: none;
}

.unstyled-btn {
  background: unset !important;
  border: unset !important;
  padding: unset !important;
}

.unstyled-link {
  color: unset !important;
  text-decoration: unset !important;
  &:hover {
    text-decoration: unset !important;
  }
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-size: cover;
}



// navbar

nav {
  display: flex;
  background: #000077;
  color: white;
  height: $navbar-height;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 5px;
  box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .title {
    font-weight: bold;
    padding: 10px 15px;
  }

  .avatar {
    @include avatar(35px);
    border: 1px solid rgba(255, 255, 255, 0.8)
  }

  .navbar-btn {
    cursor: pointer;
  }

}

.spacer {
  height: $navbar-height;
}



// markdown (overrides)

.markdown-body {
  background: #fff;
  // margin: 0px -1px;

  .heading {

    color: #9a3636;
    position: relative;

    &:hover::before {
      position: absolute;
      left: -1em;
      color: rgba(0, 0, 0, 0.3);
      content: '§';
    }
  }

  .checklist {
    list-style: none;
    padding-left: 0;
  }

  pre, code {
    // font-family: $monospace;
  }

  pre {
    padding: 5px;
    overflow: auto;
  }
}




// `notes`

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $container-max-width;
}


@media (hover: none) {
  [title]:hover::after {
    font-family: $sans;
    font-size: 0.6rem;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: .3em .5em;
    transform: translate(0, 1.6em);
    position: absolute;
    content: attr(title);
    // transition: opacity 1s;
  }
}

.paper {

  background: rgba(0, 0, 120, 1);

  max-height: 300px;
  overflow: hidden;

  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0 0;
  border: 1px solid #ccc;

  .details {
    padding: 5px $paper-gutter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .title {
      font-style: italic;
      font-weight: bold;
    }
  }
}

.paper-container {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::after {
    // fade out (see https://stackoverflow.com/questions/22666063/how-to-fade-the-edge-of-a-div-with-just-css)
    content: "";
    position: absolute;
    bottom: -15px;
    left: -15px;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent, $page-bg 70%);
    width: calc(100% + 30px);
    height: 4em;
  }
}

.paper-body {
  padding: 20px $paper-gutter;
}



// `note`

.editor-ui {

  // background: #eee;

  $header-height: 100px;
  $footer-height: 50px;
  // $footer-height: 50px;

  header {
    display: flex;
    justify-content: space-between;

    padding: 20px;
    input {
      font-family: $sans;
      font-size: 1.8em;
      font-weight: bold;
      background: none;
      border: none;
      padding: 0;
      width: calc(100vw - 100px);
      min-width: inherit;
      font-style: italic;
    }

    height: $header-height;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: $footer-height;
  }

  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;

  .panes {
    display: flex;

    .pane {
      flex: 0 0 50%;
      height: calc(100vh - #{$navbar-height} - #{$header-height} - #{$footer-height});

      &.rendered {
        overflow: auto;
        background: #fff;

        .markdown-body {
          width: 100%;
          padding: 20px $paper-gutter;
        }
      }

      textarea {
        padding: 20px 20px 0 20px;
        resize: none;
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;

      .pane {
        height: calc((100vh - #{$navbar-height} - #{$header-height} - #{$footer-height}) / 2);
      }
    }

    // .plaintext-pane {

    // }

    // .rendered-pane {

    // }
  }

}

.btn {
  padding: 5px 15px;
  margin: 0 10px 0 auto;
}




