.markdown-body {
  // overrides `github-markdown-css` defaults
  background: #fff;

  .heading {

    color: #9a3636;
    position: relative;

    &:hover::before {
      position: absolute;
      left: -1em;
      color: rgba(0, 0, 0, 0.3);
      content: '§';
    }
  }

  .checklist {
    list-style: none;
    padding-left: 0;
  }

  pre {
    padding: 5px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}




[data-line] {
  display: inline;
  // padding: 0 !important;
  // margin: 0 !important;

  // .line {

  // }

  &::before {
    content: attr(data-line);
    display: inline-block;
    width: 1.5em;
    color: rgba(0, 0, 0, 0.4);
    border-right: 2px solid rgba(0, 0, 0, 0.1);
    margin-right: 3px;
  }
}
