.markdown-body {
  // overrides `github-markdown-css` defaults
  background: #fff;

  h1, h2, h3, h4, h5, h6, b, strong, table th, dl dt {
    font-weight: bold !important;
  }

  .heading {
    color: #9a3636;
    position: relative;

    &:hover::before {
      position: absolute;
      left: -1em;
      color: rgba(0, 0, 0, 0.3);
      content: '§';
    }
  }

  .checklist {
    list-style: none;
    padding-left: 0;
  }

  pre {
    padding: 5px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}




[data-line] {
  display: inline;

  &::before {
    content: attr(data-line);
    display: inline-block;
    width: 1.5em;
    color: rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 3px;
  }
}
