nav {
  display: flex;
  background: #000077;
  color: white;
  height: $navbar-height;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 5px;
  box-shadow: 0 -10px 10px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .title {
    font-weight: bold;
    padding: 10px 15px;
  }

  .avatar {
    @include avatar(35px);
    border: 1px solid rgba(255, 255, 255, 0.8)
  }

  .navbar-btn {
    cursor: pointer;
  }

}

.spacer {
  height: $navbar-height;
}

